@using BlazorAnimate
@inherits MainLayout


<div class="container-fluid">
    <Animate Animation="new FlipDownAnimation()" Duration="TimeSpan.FromSeconds(0.5)">
        @foreach (var order in WrapperForOrdersList)
        {
            @if (!order.OrderBool)
            {
                <div class="cont ">
                    <div class="row">
                        <div class="col-3 ">
                            № @order.orders.Id
                            <br/>
                            from @order.orders.CreateOrderDate
                        </div>
                        <div class="col-2 align-self-center">
                            <label>Full price:</label>
                            
                            @FullPrices(order.orders.Products) USD
                           </div>
                        <div class="col-7 d-flex flex-row-reverse align-self-center">
                            <button class="expandButton bi-arrows-expand" @onclick="() => ShowOrHide(order)"></button>
                            <img class="align-self-center" src="qq"/>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="cont">
                    <div class="row">
                        <div class="col-3 ">
                            Order information:
                            <br/>
                            <label>Order Id №</label>
                            @order.orders.Id
                            <br/>
                            <label>Create order date:</label>
                            @order.orders.CreateOrderDate
                            <br/>

                            <label>Full name:</label>
                            @order.orders.User.FirstName @order.orders.User.LastName
                            <br/>
                            <label>Email:</label>
                            @order.orders.User.Email
                            <br/>

                            @order.orders.User.Address
                        </div>
                        <div class="col-8">
                            <table class="allinform ">
                                @foreach (var product in order.orders.Products)
                                {
                                    <tr class="justify-content-center align-content-center">
                                        <th>

                                        </th>
                                        <th>
                                            Products
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Sum
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="a"/>
                                        </td>
                                        <td>
                                            @product.Name
                                        </td>
                                        <td>
                                            @product.Price USD
                                        </td>
                                        <td>
                                            Add logic for quantity
                                        </td>
                                        <td>
                                            will be logic for price*quantity
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div class="col-1 d-flex flex-row-reverse align-self-center">
                            <button class="expandButton bi-arrows-collapse" @onclick="() => ShowOrHide(order)"></button>
                            <img class="align-self-center" src="qq"/>
                        </div>

                    </div>
                </div>
            }
        }
    </Animate>
</div>

@code {
    public OrderModel[] orders { get; set; } = new OrderModel[CurrentUser.Orders.Count];

    void ShowOrHide(WrapperForOrders wrapper)
    {
        wrapper.OrderBool = !wrapper.OrderBool;
    }



}