@using BlazorAnimate
@inherits UserProfile


<div class="container-fluid">
    <Animate Animation="new FlipDownAnimation()" Duration="TimeSpan.FromSeconds(0.5)">
        @foreach (var order in WrapperForOrdersList)
        {
            @if (!order.OrderBool)
            {
                <div class="cont ">
                    <div class="row">
                        <div class="col-3 ">
                            № @order.t.Id
                            <br/>
                            from @order.t.CreateOrderDate
                        </div>
                        <div class="col-2 align-self-center">
                            <label>Full price:</label>

                            @FullPrices(order.t.Products) USD
                        </div>
                        <div class="col-7 d-flex flex-row-reverse align-self-center">
                            <button class="expandButton bi-arrows-expand" @onclick="() => ShowOrHide(order)"></button>
                            <img class="align-self-center" src="qq"/>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="cont">
                    <div class="row">
                        <div class="col-3 ">
                            Order information:
                            <br/>
                            <label>Order Id №</label>
                            @order.t.Id
                            <br/>
                            <label>Create order date:</label>
                            @order.t.CreateOrderDate
                            <br/>

                            <label>Full name:</label>
                            @order.t.User.FirstName @order.t.User.LastName
                            <br/>
                            <label>Email:</label>
                            @order.t.User.Email
                            <br/>

                            @order.t.User.Address
                        </div>
                        <div class="col-8">
                            <table class="allinform ">
                                @foreach (var product in order.t.Products)
                                {
                                    <tr class="justify-content-center align-content-center">
                                        <th>

                                        </th>
                                        <th>
                                            Products
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Sum
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="a"/>
                                        </td>
                                        <td>
                                            @product.Name
                                        </td>
                                        <td>
                                            @product.Price USD
                                        </td>
                                        <td>
                                            Add logic for quantity
                                        </td>
                                        <td>
                                            will be logic for price*quantity
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div class="col-1 d-flex flex-row-reverse align-self-center">
                            <button class="expandButton bi-arrows-collapse" @onclick="() => ShowOrHide(order)"></button>
                            <img class="align-self-center" src="qq"/>
                        </div>
                    </div>
                </div>
            }
        }
    </Animate>
</div>

@code {
    void ShowOrHide<T>(Wrapper<T> wrapper)
    {
        wrapper.OrderBool = !wrapper.OrderBool;
    }

    protected override void OnParametersSet()
    {
        foreach (var order in CurrentUser.Orders)
        {
            var wrap = new Wrapper<OrderModel>(order);
            WrapperForOrdersList.Add(wrap);
        }
    }

    int FullPrices(List<ProductModel> prods)
    {
        var full = 0;
        foreach (var item in prods)
        {
            full += item.Price;
        }
        return full;
    }
}